<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>review</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1>カスタマーレビュー</h1>
        <div class="create">
            <p class="formTitle">新規追加</p>
            <form id="createForm" action="" method="post">
                <p><span>ユーザー名：</span><input type="text" name="username"></p>
                <p><span>年齢：</span><input type="text" name="age">歳</p>
                <p><span>評価：</span><select name="rating"><option value="5">5</option><option value="4">4</option><option value="3">3</option><option value="2">2</option><option value="1">1</option></select></p>
                <p><span>評価内容：</span><br><textarea name="reason"></textarea></p>
                <p><input type="submit" value="送信"></p>
            </form>
        </div>
        <div class="sortEtc">
            <div>
                <span>並び替え：</span>
                <select name="reviewSort" id="reviewSort">
                    <option value="デフォルト">デフォルト</option>
                    <option value="評価が高い順">評価が高い順</option>
                    <option value="評価が低い順">評価が低い順</option>
                </select>
                <br><span>絞り込み：</span>
                <select name="starFilter" id="starFilter">
                    <option value="デフォルト">デフォルト</option>
                    <option value="星５">星５</option>
                    <option value="星４">星４</option>
                    <option value="星３">星３</option>
                    <option value="星２">星２</option>
                    <option value="星１">星１</option>
                </select>
                <!-- <span>検索</span>
                <input type="text">
                <button id="searchBtn">検索</button> -->
            </div>
            <div class="analytics">
                <span>統計結果：</span>
                <div>
                    <dl>
                        <dt>20代</dt>
                        <dd><%= users.filter(user => user.age >= '20' &&  user.age < '30').length %>人</dd>
                    </dl>
                    <dl>
                        <dt>30代</dt>
                        <dd><%= users.filter(user => user.age >= '30' &&  user.age < '40').length %>人</dd>
                    </dl>
                    <dl>
                        <dt>40代</dt>
                        <dd><%= users.filter(user => user.age >= '40' &&  user.age < '50').length %>人</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div id="cards">
        </div>
        <script>
            // データ取得
            let users = JSON.parse('<%= JSON.stringify(users) %>'.replace(/&#34;/g, '"'));
            let usersDesc = JSON.parse('<%= JSON.stringify(usersDesc) %>'.replace(/&#34;/g, '"'));
            let usersAsc = JSON.parse('<%= JSON.stringify(usersAsc) %>'.replace(/&#34;/g, '"'));
            let usersRate5 = JSON.parse('<%= JSON.stringify(usersRate5) %>'.replace(/&#34;/g, '"'));
            let usersRate4 = JSON.parse('<%= JSON.stringify(usersRate4) %>'.replace(/&#34;/g, '"'));
            let usersRate3 = JSON.parse('<%= JSON.stringify(usersRate3) %>'.replace(/&#34;/g, '"'));
            let usersRate2 = JSON.parse('<%= JSON.stringify(usersRate2) %>'.replace(/&#34;/g, '"'));
            let usersRate1 = JSON.parse('<%= JSON.stringify(usersRate1) %>'.replace(/&#34;/g, '"'));
            let newList = [];
            // DOMの取得
            let cards = document.querySelector('#cards');
            let starFilter = document.querySelector('#starFilter');
            let reviewSort = document.querySelector('#reviewSort');

            // 評価値のソート
            function reviewSortFunc() {
                newList = []
                if (reviewSort.value === "デフォルト") {
                    newList = users;
                }
                if (reviewSort.value === "評価が高い順") {
                    newList= usersDesc;
                }
                if (reviewSort.value === "評価が低い順") {
                    newList = usersAsc;
                }
                listToDom()
            }
            // 評価値の絞り込み
            function starFilterFunc() {
                newList = []
                if (starFilter.value === "デフォルト") {
                    newList = users
                }
                if (starFilter.value === "星５") {
                    newList = usersRate5;
                }
                if (starFilter.value === "星４") {
                    newList = usersRate4;
                }
                if (starFilter.value === "星３") {
                    newList = usersRate3;
                }
                if (starFilter.value === "星２") {
                    newList = usersRate2;
                }
                if (starFilter.value === "星１") {
                    newList = usersRate1;
                }
                listToDom()
            }
            // DOM(#cardsの中)に表示
            function listToDom() {
                cards.innerHTML = '';
                newList.forEach(user => {
                    cards.insertAdjacentHTML('beforeend', `
                    <div class="card">
                        <div class="star">
                            <img class="star_img" src="/img/re.svg" alt="">
                            <span>${user.rating}</span>
                        </div>
                        <div class="reason">
                            <span>${user.reason}</span>
                        </div>
                        <div class="person">
                            <p>（<span>${user.username}</span>／<span>${user.age}歳</span>）</p>
                        </div>
                        <div class="edit">
                            <a href="/edit/${user.id}">更新</a>
                        </div>
                    </div>
                    `)
                })
            }
            window.addEventListener('load', reviewSortFunc)
            reviewSort.addEventListener('change', reviewSortFunc);
            starFilter.addEventListener('change', starFilterFunc);
        </script>
    </body>
</html>
